html {
  background-image: url("backgroundImage.jpg");
  opacity: 0.5;
  filter: saturate(4);
  text-align: center;
  font-family: Arial;
  height: 100%;
  width: 100%;
  color: #11115f;
}

  img {
    border-radius: 50%;
  }

  /*--------------------------BOXES WITH TEXT--------------------------*/

.bigBox {
  background: white; /*background colour*/
  width: 500px; /*width of the box*/
  height: 350px; /*height of the box*/
  position: absolute; /*when the box moves nothing else is affected*/
  top: 35%; /*position from the top (higher percentage further down)*/
  left: 42%; /*position from the left (higher percentage further right)*/
  border: solid 3px black; /*border size and colour*/
  margin: -100px 0 0 -100px; /*makes the box move with the screen size*/
}

  /* ----------------------BUTTONS-----------------------
  
  Learned the button placement style code from: https://www.shecodes.io/athena/4345-position-text-in-top-right-corner-with-css 
  
  Login and signup buttons for ability to create questions*/

  .bigButton {
    background-color: #11115f;
    color: white;
    border: black;
    padding: 20px 60px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }

  .smallButton {
    background-color: #11115f;
    color: white;
    border: black;
    width: 75px;
    height: 40px;
    margin: 5px 5px;
    padding: 4px 6px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }
  
  
  #play {
    margin: 100px -100px;
  }

  #loginSubmit {
    margin: 120px -100px;
  }

  #signupSubmit {
    margin: 120px -100px;
  }

  
  /*sign up and submit buttons for emails, passwords, and class codes*/
  /* #teacherSignup {
    position: absolute;
    margin: 200px -50px;
    color: white;
    border: black;
    padding: 4px 6px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: #11115f;
  } */

  /* #studentSubmit {
    position: absolute;
    margin: -100px 0 0 -100px;
    color: white;
    border: black;
    padding: 4px 6px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: #11115f;
  } */

  /* #loginSubmit {
    position: absolute;
    margin: 150px -50px; 
    color: white;
    border: black;
    padding: 4px 6px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: #11115f;
  } */

/* ----------------------SIGNING IN REQUIRMENTS------------------------*/
  /*centers the username and password requirments for login and signup pages*/
  input[type="text"]{
    position: absolute;
    margin: 50px -100px; padding:0px;
    width: 200px;
  }

  input[type="password"]{
    position: absolute;
    margin: 75px -100px; padding:0px;
    width: 200px;
  }

  input[id="passwordRepeat"]{
    position: absolute;
    margin: 150px -100px; padding:0px;
    width: 200px;
  }

  /*Input for student play page*/
  input[type="name"]{
    position: absolute;
    margin: 100px -100px; padding:0px;
    width: 200px;
  }

  input[id="code"]{
    position: absolute;
    margin: 150px -100px; padding:0px;
    width: 200px;
  } 

/* -------------------------------ADDING QUESTIONS-----------------------------*/
  input[id="questionTitle, image, questionText, option1, option2, option3, option4"]{
    position: absolute;
    margin: 20px -100px; padding:0px;
    width: 200px;
  }
  input[id="questionTitle"]{
    margin: 20px -100px; padding:0px;
  }

  input[id="image"]{
    position: absolute;
    margin: -10px -220px; padding:0px;
    width: 200px;
  }

  input[id="questionText"]{
    margin: 25px 20px; padding:0px;
  }

  input[id="option1"]{
    margin: 0px -100px; padding:0px;
  }

  input[id="option2"]{
    margin: 5px -100px; padding:0px;
  }

  input[id="option3"]{
    margin: 10px -100px; padding:0px;
  }

  input[id="option4"]{
    margin: 15px -100px; padding:0px;
  }