html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("backgroundImage.jpg");
  opacity: 0.3;
  filter: saturate(3);
  z-index: -1;
}

html {
  color: #8c65e9;
}

body {
  color: #8c65e9;
}

img {
  border-radius: 50%;
}

form {
  margin: 0 auto;
  width: 500px;
}

label {
  display: inline;
  position: relative;
}
h1 {
  padding-left: 5px;
  padding-top: 5px;
  text-align: center;
  font-family: Arial;
  position: relative;
  margin-top: 35px;
}

h3 {
  padding-left: 5px;
  padding-top: 5px;
  text-align: center;
  font-family: Arial;
  position: relative;
  top: 45px;
}

div {
  text-align: center;
  display: block;
  margin: 5px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #8c65e9;
}
/*--------------------------------TEXT-------------------------------*/
.title {
  margin: 0 auto;

  /* margin: 125px -100px; */
}
.subtitle {
  display: block;
  text-align: center;
  font-family: Arial;
}

/*--------------------------BOXES WITH TEXT--------------------------*/
.circle {
  background: white; /*background colour*/
  width: 420px; /*width of the box*/
  height: 400px; /*height of the box*/
  position: absolute; /*when the box moves nothing else is affected*/
  top: 35%; /*position from the top (higher percentage further down)*/
  left: 43.7%; /*position from the left (higher percentage further right)*/
  border: solid 3px #8c65e9; /*border size and colour*/
  margin: -100px 0 0 -100px; /*makes the box move with the screen size*/
  border-radius: 800px; /* rounded corners */
}

.smallBox {
  display: block;
  background: white; /*background colour*/
  width: 600px; /*width of the box*/ /*height of the box*/
  height: 350px;
  position: center;
  margin-top: 0 auto; /*when the box moves nothing else is affected*/
  /*position from the left (higher percentage further right)*/
  border: solid 2px #8c65e9; /*border size and colour*/
  /*makes the box move with the screen size*/
}

/* .questions {
  width: 500px;
  position: absolute;
} */

.bigBox {
  background: white;
  /*background colour*/
  width: 1300px;
  /*width of the box*/
  height: 700px;
  /*height of the box*/
  position: absolute;
  /*when the box moves nothing else is affected*/
  top: 31%;
  /*position from the top (higher percentage further down)*/
  left: 20%;
  /*position from the left (higher percentage further right)*/
  border: solid 3px #8c65e9;
  /*border size and colour*/
  margin: -100px 0 0 -100px;
  /*makes the box move with the screen size*/
}

.list-code {
  font-size: large;
  margin: 10px;
  color: #8c65e9;
}

/* ----------------------BUTTONS-----------------------*/

/* button characteristics */

.div-buttons {
  position: relative;
}

.header {
  margin-top: 20px;
  margin-bottom: 40px;
}

.smallButton {
  background-color: #8c65e9;
  color: white;
  border: black;
  width: 100px;
  height: 40px;
  margin: 5px 5px;
  padding: 4px 6px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  border: solid #8c65e9 2px;
}

.smallButton2 {
  background-color: #8c65e9;
  color: white;
  border: black;
  width: 100px;
  height: 40px;
  margin: 5px 5px;
  padding: 4px 6px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  border: solid #8c65e9 2px;
}

.bigButton #play {
  background-color: #8c65e9;
  position: relative;
  top: 115px;
  color: white;
  border: black;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 150px;
  height: 50px;
}

/* button positions */

#play:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#loginSubmit {
  background-color: #8c65e9;
  color: white;
  border: black;
  width: 100px;
  height: 40px;
  margin: 75px 25px;
  padding: 4px 6px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  border: solid #8c65e9 2px;
  position: relative;
}

#signupSubmit {
  background-color: #8c65e9;
  color: white;
  border: black;
  width: 100px;
  height: 40px;
  margin: 5px 5px;
  padding: 4px 6px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  border: solid #8c65e9 2px;
  position: relative;
  top: 250px;
}

#submit {
  margin: 80px -200px;
}

#addQuestion {
  margin: 80px -200px;
}

#studentSubmit {
  margin: 140px -100px;
}

/* ----------------------SIGNING IN REQUIRMENTS------------------------*/
/*centers the username and password requirments for login and signup pages*/

.div-input {
  display: block;
  width: 600px;
  text-align: center;
  margin-top: 10px;
}
/* input[type="email"] {
  position: absolute;
  margin: 75px -95px;
  padding: 0px;
  width: 200px;
}

input[type="password"] {
  position: absolute;
  margin: 75px -95px;
  padding: 0px;
  width: 200px;
} */

input[id="passwordRepeat"] {
  position: absolute;
  margin: 100px -95px;
  padding: 0px;
  width: 200px;
}

/*Input for student play page*/
input[id="name"] {
  position: absolute;
  margin: 50px -95px;
  padding: 0px;
  width: 200px;
}

input[id="code"] {
  position: absolute;
  margin: 75px -95px;
  padding: 0px;
  width: 200px;
}

/* -------------------------------ADDING QUESTIONS-----------------------------*/

input[id="questionTitle"] {
  position: absolute;
  margin: 10px -100px;
  padding: 0px;
  width: 200px;
}

textarea[id="questionText"] {
  position: center;
  width: 420px;
  height: 30px;
}

input[id="image"] {
  position: absolute;
  margin: -10px -100px;
  padding: 0px;
  width: 200px;
}

/* -----------------------Response table------------------------- */
table {
  border: 3px solid black;
  margin: 30px 0px;
  padding: 0px;
}

th,
td {
  border: 2px solid black;
  padding: 10px;
}

.questionText {
  margin: 50px;
}
.option-max {
  margin-left: 20px;
}
.option-correct {
  margin-left: 20px;
}
